* {
    margin: 0;
    padding: 0;
}

:root {
    --Hero_color: red;
    --Hero_TXT_color: RED;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    height: 40px;
    padding: 7px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
    border-bottom: solid red;
    margin-bottom: 20px;
}
header nav a{
    margin: 0px 2px;
    font-size: 1.1rem;
    border: solid transparent 1px;
    margin: 0px 20px;
    height: 60px;
    padding: 7px 20px;
    transition-duration: 13.9ms;
}
header nav a:hover{
    border: solid white 1px;
    background-color: white;
    color: #111;
    border-radius: 20px;
}

.Hero {
    background-color: #1b1b1b;
    height: 440px;
    margin: 0px 40px 0px 40px;
    border-radius: 20px;
    color: var(--Hero_TXT_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
    border-top: solid;

}


.Hero .sideB{
    display: flex;
    align-items: center;
    justify-content:  center;
    margin: 0px 20PX;
    font-size: 1.2rem;
}