* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}

.start {
    background-color: #121212;
    height: 140px;
    margin: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start p{
    color: red;
    font-size: 3.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.start_Head {
    background-color: #121212;
    height: 40px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: center;
    position: sticky;
    top: 15px;
    z-index: 99;
    
}
.start_Head a{
    margin: 0px 10px;
    padding: 12px 10px;
    
}

.start_Head a:hover{
    background-color: #000;
    color: red;
}

.start_set {
    height: 140px;
    background-color: #121212;
    margin: 15px 15px 15px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: red;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.mid {
    height: 1400px;
    background-color: #121212;
    margin: 15px 15px 15px 15px;
}